In [14]:
print ("Hello AI World")

Hello AI World

In [13]:
import pandas as pd
df=pd.read_csv("C:/Users/perdonal/Desktop/ml-internship-2026/data/Mall_Customers.csv")

print(df.head)

<bound method NDFrame.head of      CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]>

In [15]:
df.shape
df.info()
df.describe()

<class 'pandas.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    str
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), str(1)
memory usage: 7.9 KB

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

Business Understanding & Insights

Type of Business:
This dataset likely belongs to a retail business or shopping mall that sells products across different price ranges. The company wants to understand customer behavior based on income, age, and spending patterns.

Business Decisions Improved Using This Data:
The business can use this data to decide which customers are most likely to buy premium or expensive products, how to segment customers for targeted marketing, and whether launching a new or high-end product would be profitable.

Most Useful Column for Predicting Customer Behavior:
The Spending Score column appears most useful, as it directly reflects how willing a customer is to spend, making it valuable for predicting purchasing behavior and customer segmentation.